{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block custom_head_css_js %}
{#    <link rel="stylesheet" href="{% static 'css/customize/font-awesome.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/customize/three-columns.css' %}">
    <style>
     pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }

    .showinfo{
        position: absolute;
        background-color: #eef1f8;
        width: 200px;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #ccc;
        display: none;
    }
    .showinfo pre{
        padding: 5px;
        border: 1px solid #ccc;
        margin:0;
    }
    table,th,td{
        border:1px solid blue;
    }
</style>
{% endblock %}


{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="{% url 'elastics:meta-info-detail' pk=object.id %}"
                                   class="text-center"><i
                                        class="fa fa-laptop"></i> {% trans 'Meta info detail' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'elastics:basic-cluster-list' pk=object.id %}"
                                   class="text-center"><i
                                        class="fa fa-lastfm"></i> {% trans 'Basic cluster list' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'elastics:cluster-remote-list' pk=object.id %}"
                                   class="text-center"><i
                                        class="fa fa-gavel"></i> {% trans 'Cluster remote list' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'elastics:node-list' pk=object.id %}"
                                   class="text-center"><i
                                        class="fa fa-server"></i> {% trans 'Node list' %}
                                </a>
                            </li>
                            <li class="pull-right">
                                <a href="{% url 'elastics:basic-cluster-update' pk=object.id %}"
                                   class="btn btn-outline btn-default"><i class="fa fa-refresh"></i>{% trans 'Update' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0;">
                            <div class="" id="content_start">
                            </div>
                            <div class="ibox float-e-margins disabled">
                                <div class="ibox-title">
                                    <span style="float: left"><b>{% trans 'Basic cluster list' %}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle"
                                           data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                {% for i in cluster %}
                                <div class="box">
                                    <p><span class="font1">{% trans 'Name' %} </span>: {{ i.name }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Status' %} </span>: {{ i.status }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Total shard' %} </span>: {{ i.st }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Primary shard' %} </span>: {{ i.sp }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Total index' %} </span>: {{ i.incount }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Total docs' %} </span>: {{ i.indocs }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Total use space' %} </span>: {{ i.instore }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Total node' %} </span>: {{ i.nt }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Read-only node' %} </span>: {{ i.nc }}</p>
                                </div>
                                 <div class="box">
                                    <p><span class="font1">{% trans 'Data node' %} </span>: {{ i.nd }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Ingest node' %} </span>: {{ i.ni }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Master node' %} </span>: {{ i.nm }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Client node' %} </span>: {{ i.nr }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Total memory' %} </span>: {{ i.mt }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Free memory' %} </span>: {{ i.mf }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Use memory' %} </span>: {{ i.mu }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Install' %} </span>: {{ i.pt }}</p>
                                </div>
                                <div class="box">
                                    <p><span class="font1">{% trans 'Date updated' %} </span>: {{ i.date_updated|date:"Y-m-j H:i:s" }}</p>
                                </div>

                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0;">
                            <div class="" id="content_start">
                            </div>
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span style="float: left"><b>{% trans 'Permanent parameters' %}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle"
                                           data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    {% for i in  clustersettings%}
                                    <div class="box">
                                        <p id="show"><span  >{% trans 'Permanent parameters' %} </span>: {{ i.persis.cluster.routing }}</p>
                                    </div>
                                    <div class="box">
                                        <p id="show"><span>{% trans 'Xpack' %} </span>: {{ i.persis.xpack }}</p>
                                    </div>
                                    <div class="box">
                                        <p id="show"><span>{% trans 'Temporary parameters' %} </span>: {{ i.tran }}</p>
                                    </div>
                                    <div class="box">
                                        <p id="show"><span>{% trans 'Security' %} </span>: {{ i.def_xpack }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0;">
                            <div class="" id="content_start">
                            </div>
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span style="float: left"><b>{% trans 'Default cluster parameters' %}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle"
                                           data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                {% for i in  clustersettings%}
                                <div>
                                    <p class="show-rough"><span>{% trans 'Default cluster parameters' %} </span>: <a >{{ i.persis.cluster.routing }}</a></p>
                                </div>
                                {% endfor %}
                                    <div id="show-info" class="showinfo">
                                        <pre id="show-pre">

                                    </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                </div>
            </div>
        </div>
    </div>
{#{% include 'assets/_gateway_test_modal.html' %}#}
{% endblock %}
{% block content_bottom_left %}{% endblock %}
{% block custom_foot_js %}
<script href="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script>
$(document).ready(function(){
        $(".show-rough").mouseover(function(){
            var left = $(this).offset().left + $(this).width() +20;//计算div显示位置
            var top = $(this).offset().top + 20;
            var _jsonDate = $.parseJSON($(this).text());
            var showJson = syntaxHighlight(_jsonDate);
            $("#show-info").css({"left":left,"top":top}).show();
            $("#show-pre").html(showJson);
        });
        $(".show-rough").mouseout(function(){
            $("#show-info").hide().html();
            $("#show-pre").html();
        })
    });
    //处理json数据，采用正则过滤出不同类型参数
    function syntaxHighlight(json) {
    if (typeof json != 'string') {
        json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
};
</script>
{% endblock %}
