{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block custom_head_css_js %}
{#    <link rel="stylesheet" href="{% static 'css/customize/font-awesome.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/customize/three-columns.css' %}">
    <link rel="stylesheet" href="{% static 'css/customize/codemirrorjson.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="{% url 'elastics:meta-info-detail' pk=object.id %}" class="text-center"><i class="fa fa-laptop"></i> {% trans 'Meta info detail' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'elastics:cluster-dynamic-config' pk=object.id %}" class="text-center"><i class="fa fa-diamond"></i> {% trans 'Dynamic configuration' %}</a>
                            </li>
                            <li class="active">
                                <a href="{% url 'elastics:basic-cluster-list' pk=object.id %}" class="text-center"><i class="fa fa-lastfm"></i> {% trans 'Basic cluster list' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'elastics:cluster-remote-list' pk=object.id %}" class="text-center"><i class="fa fa-gavel"></i> {% trans 'Cluster remote list' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'elastics:meta-node-list' pk=object.id %}" class="text-center"><i class="fa fa-server"></i> {% trans 'Node list' %}</a>
                            </li>
                            <li>
                                <a class="text-center"  href="{% url 'elastics:cluster-dsl' pk=object.id %}" ><i class="fa fa-link"></i> {% trans 'DSL' %}</a>
                            </li>
                            <li class="pull-right">
                                <a href="{% url 'elastics:basic-cluster-update' pk=object.id %}" class="btn btn-outline btn-default"><i class="fa fa-refresh"></i>{% trans 'Update' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0;">
                            <div class="" id="content_start">
                            </div>
                            <div class="ibox float-e-margins disabled">
                                <div class="ibox-title">
                                    <span style="float: left"><b>{% trans 'Basic cluster list' %}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle"
                                           data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Name' %} </span>: {{ cluster.name }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Status' %} </span>: {{ cluster.status }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Total shard' %} </span>: {{ cluster.st }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Primary shard' %} </span>: {{ cluster.sp }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Total index' %} </span>: {{ cluster.incount }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Total docs' %} </span>: {{ obj.indocs }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Total use space' %} </span>: {{ obj.instore }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Total node' %} </span>: {{ cluster.nt }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Read-only node' %} </span>: {{ cluster.nc }}</p>
                                    </div>
                                     <div class="box">
                                        <p><span class="font1">{% trans 'Data node' %} </span>: {{ cluster.nd }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Ingest node' %} </span>: {{ cluster.ni }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Master node' %} </span>: {{ cluster.nm }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Client node' %} </span>: {{ cluster.nr }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Total memory' %} </span>: {{ obj.mt }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Free memory' %} </span>: {{ obj.mf }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Use memory' %} </span>: {{ obj.mu }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Install' %} </span>: {{ cluster.pt }}</p>
                                    </div>
                                    <div class="box">
                                        <p><span class="font1">{% trans 'Date updated' %} </span>: {{ cluster.date_updated|date:"Y-m-j H:i:s" }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0;">
                            <div class="" id="content_start">
                            </div>
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span style="float: left"><b>{% trans 'Permanent parameters' %}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle"
                                           data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div id="main">
                                        <div class="main-left">
                                            <p id="show"><span  >{% trans 'Cluster routing' %} </span>:
                                                <pre id="para_router">
                                                </pre>
                                            </p>
                                        </div>

                                        <div class="main-right">
                                            <p id="show"><span>{% trans 'Xpack monitoring' %} </span>:
                                                <pre id="para_xpack">
                                                </pre>
                                            </p>
                                        </div>
                                    </div>
                                    <div id="content">
                                        <div class="content-left">
                                            <p id="show"><span>{% trans 'Temporary parameters' %} </span>:
                                                <pre id="temp_para">
                                                </pre>
                                            </p>
                                        </div>
                                        <div class="content-right-sup">
                                            <p id="show"><span>{% trans 'Security' %} </span>:
                                                <pre id="security_paras">
                                                </pre>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0;">
                            <div class="" id="content_start">
                            </div>
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span style="float: left"><b>{% trans 'Default cluster parameters' %}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle"
                                           data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div id="main">
                                         <div class="main-left">
                                            <p><span>{% trans 'Defaults' %} </span>:
                                                <pre id="result">
                                                </pre>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!---->
                </div>
            </div>
        </div>
    </div>
{#{% include 'assets/_gateway_test_modal.html' %}#}
{% endblock %}
{% block content_bottom_left %}{% endblock %}
{% block custom_foot_js %}
<script>
function syntaxHighlight(json) {
      if (typeof json != 'string') {
          json = JSON.stringify(json, undefined, 2);
      }
      json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
      return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
          function(match) {
              var cls = 'number';
              if (/^"/.test(match)) {
                 if (/:$/.test(match)) {
                     cls = 'key';
                 } else {
                     cls = 'string';
                 }
              } else if (/true|false/.test(match)) {
                 cls = 'boolean';
              } else if (/null/.test(match)) {
                 cls = 'null';
              }
             return '<span class="' + cls + '">' + match + '</span>';
         }
     );
 }
var res = {{ clustersettings.def_clus|safe }};
var para_router = {{ clustersettings.persis.cluster.routing|safe }};
var para_xpack = {{ clustersettings.persis.xpack|safe }};
var temp_para = {{ clustersettings.tran|safe }};
var security_para = {{ clustersettings.def_xpack|safe }};

$('#result').html(syntaxHighlight(res));
$('#para_router').html(syntaxHighlight(para_router));
$('#para_xpack').html(syntaxHighlight(para_xpack));
$('#temp_para').html(syntaxHighlight(temp_para));
$('#security_paras').html(syntaxHighlight(security_para));
</script>

{% endblock %}
