{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block custom_head_css_js %}
    <link rel="stylesheet" href="{% static 'css/customize/three-columns.css' %}">
    <link rel="stylesheet" href="{% static 'css/customize/codemirrorjson.css' %}">
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        .parent{
            margin: 0 -10px;
        }
        p{
            box-sizing: border-box;
            padding: 1px 10px;
            height: 30px;
            float: left;
            background-clip: content-box;
        }
    .one{
        width: 35%;
    }
    .two{
        width: 11%;
    }
    .three{
        width: 3%;
    }
    .four{ width: 1%;}

    </style>
{% endblock %}

{% block content %}
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="{% url 'elastics:meta-info-detail' pk=object.id %}" class="text-center"><i class="fa fa-laptop"></i> {% trans 'Meta info detail' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'elastics:cluster-dynamic-config' pk=object.id %}" class="text-center"><i class="fa fa-diamond"></i> {% trans 'Dynamic configuration' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'elastics:basic-cluster-list' pk=object.id %}" class="text-center"><i class="fa fa-lastfm"></i> {% trans 'Basic cluster list' %}
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'elastics:cluster-remote-list' pk=object.id %}" class="text-center"><i class="fa fa-gavel"></i> {% trans 'Cluster remote list' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'elastics:node-list' pk=object.id %}" class="text-center"><i class="fa fa-server"></i> {% trans 'Node list' %}
                                </a>
                            </li>
                            <li>
                                <a class="text-center"  href="{% url 'elastics:cluster-dsl' pk=object.id %}" ><i class="fa fa-link"></i> {% trans 'DSL' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0;">
                            <div class="" id="content_start">
                            </div>
                            <div class="ibox float-e-margins disabled">
                                <div class="ibox-title">
                                    <span style="float: left"><b>{% trans 'ROUTING' %}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle"
                                           data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div id="main">
                                        <form class="form-horizontal" method="post" action="{% url 'elastics:setting-routing' pk=object.id %}">
                                            <div class="parent">
                                                <p class="one">cluster.routing.rebalance.enable</p>
                                                <p class="two" contenteditable="true" id="rebalance_enable">{{ routing.rebalance_enable }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                                <p class="four"></p>
                                                <p class="one"  >cluster.routing.allocation.node_concurrent_recoveries</p>
                                                <p class="two" contenteditable="true" id="node_concurrent_recoveries">{{ routing.node_concurrent_recoveries }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                            </div>
                                            <div class="parent">
                                                <p class="one">cluster.routing.allocation.cluster_concurrent_rebalance</p>
                                                <p class="two" contenteditable="true" id="cluster_concurrent_rebalance">{{ routing.cluster_concurrent_rebalance }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                                <p class="four"></p>
                                                <p class="one">cluster.routing.node_initial_primaries_recoveries</p>
                                                <p class="two" contenteditable="true" id="node_initial_primaries_recoveries">{{ routing.node_initial_primaries_recoveries }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                            </div>
                                            <div class="parent">
                                                <p class="one">cluster.routing.allocation.node_concurrent_outgoing_recoveries</p>
                                                <p class="two" contenteditable="true" id="node_concurrent_outgoing_recoveries">{{ routing.node_concurrent_outgoing_recoveries }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                                <p class="four"></p>
                                                <p class="one">cluster.routing.allocation.disk.watermark.flood</p>
                                                <p class="two" contenteditable="true" id="disk_watermark_flood_stage">{{ routing.disk_watermark_flood_stage }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                            </div>
                                            <div class="parent">
                                                <p class="one">cluster.routing.allocation.disk.watermark.low</p>
                                                <p class="two" contenteditable="true" id="disk_watermark_low">{{ routing.disk_watermark_low }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                                <p class="four"></p>
                                                <p class="one">cluster.routing.allocation.disk.watermark.high</p>
                                                <p class="two" contenteditable="true" id="disk_watermark_high">{{ routing.disk_watermark_high }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                            </div>
                                            <div class="parent">
                                                <p class="one">cluster.routing.allocation.allow_rebalance</p>
                                                <p class="two" contenteditable="true" id="allow_rebalance">{{ routing.allow_rebalance }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                                <p class="four"></p>
                                                <p class="one">cluster.routing.allocation.allocation.enable</p>
                                                <p class="two" contenteditable="true" id="allocation_enable">{{ routing.allocation_enable }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                            </div>
                                            <div class="parent">
                                                <p class="one">cluster.routing.awareness.attributes</p>
                                                <p class="two" contenteditable="true" id="awareness_attributes">{{ routing.awareness_attributes }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                                <p class="four"></p>
                                                <p class="one">cluster.routing.balance.index</p>
                                                <p class="two" contenteditable="true" id="balance_index">{{ routing.balance_index }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                            </div>
                                            <div class="parent">
                                                <p class="one">cluster.routing.balance.threshold</p>
                                                <p class="two" contenteditable="true" id="balance_threshold">{{ routing.balance_threshold }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                                <p class="four"></p>
                                                <p class="one">cluster.routing.balance.shard</p>
                                                <p class="two" contenteditable="true" id="balance_shard">{{ routing.balance_shard }}</p>
                                                <p class="three"><i class="fa fa-edit"></i></p>
                                            </div>
                                            <div style="text-align: center;">
                                                <button type="button" class="btn btn-sm btn-primary" id="loginBtn" style="float: right;">保存</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---!-->
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0;">
                            <div class="" id="content_start">
                            </div>
                            <div class="ibox float-e-margins disabled">
                                <div class="ibox-title">
                                    <span style="float: left"><b>{% trans 'BREAKER' %}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle"
                                           data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div id="main">
                                        <form method="post" action="">
                                            <table class="table table-striped" frame=ovid rules=none width="100%">
                                                <thead>
                                                    <tr>
                                                        <th width="40%">indices.breaker.fielddata.overhead</th>
                                                        <td width="8%" contenteditable="true">{{ breaker.fielddata_overhead }}</td>
                                                        <th width="3%"><i class="fa fa-edit"></i></th>
                                                        <th width="2%"></th>
                                                        <th width="40%">indices.breaker.request.overhead</th>
                                                        <td width="8%" contenteditable="true">{{ breaker.request_over }}</td>
                                                        <th width="3%"><i class="fa fa-edit"></i></th>
                                                    </tr>
                                                    <tr>
                                                        <th width="40%">indices.breaker.total.limit</th>
                                                        <td width="8%" contenteditable="true">{{breaker.total_limit }}</td>
                                                        <th width="3%"><i class="fa fa-edit"></i></th>
                                                        <th width="2%"></th>
                                                        <th width="40%">indices.breaker.request.limit</th>
                                                        <td width="8%" contenteditable="true">{{ breaker.request_limit }}</td>
                                                        <th width="5%"><i class="fa fa-edit"></i></th>
                                                    </tr>
                                                    <tr>
                                                        <th width="40%">indices.breaker.fielddata.limit</th>
                                                        <td width="8%" contenteditable="true">{{ breaker.fielddata_limit }}</td>
                                                        <th width="5%"><i class="fa fa-edit"></i></th>
                                                        <th width="2%"></th>
                                                        <th width="40%">network.breaker.inflight_requests.limit</th>
                                                        <td width="8%" contenteditable="true">{{ breaker.inflight_req_limit }}</td>
                                                        <th width="5%"><i class="fa fa-edit"></i></th>
                                                    </tr>
                                                    <tr>
                                                        <th width="40%">indices.network.breaker.inflight_requests.overhead</th>
                                                        <td width="8%" contenteditable="true">{{ breaker.inflight_req }}</td>
                                                        <th width="3%"><i class="fa fa-edit"></i></th>
                                                        <th width="2%"></th>
                                                    </tr>
                                                    <tr>

                                                    </tr>
                                                </thead>
                                            </table>
                                            <div style="text-align: center;">
                                                <button type="button" class="btn btn-sm btn-primary" id="loginBtn" style="float: right;">保存</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
{% endblock %}
{% block content_bottom_left %}{% endblock %}
{% block custom_foot_js %}
<script>
    $("#loginBtn").on("click", function () {
        var rebalance_enable = $("#rebalance_enable").val();
        var node_concurrent_recoveries = $("p[id=node_concurrent_recoveries]").val();
        var password = $("input[name=password]").val();
        var clushostname = $("input[name=clushostname]").val();
        var mdomain = $("input[name=mdomain]").val();
        var envs = $("select.envs option:selected").val();
        var master = $("#master").val();
        var ingest = $("#ingest").val();
        var hotdata = $("#hotdata").val();
        var colddata = $("#colddata").val();
        var csrf_token = $("input[name=csrfmiddlewaretoken]").val();
        $.ajax({
            url: "{% url 'elastics:setting-routing' pk=object.id %}",
            type: 'post',
            data: {
                rebalance_enable: rebalance_enable,
                node_concurrent_recoveries: node_concurrent_recoveries,
                csrfmiddlewaretoken: csrf_token,
            },
            success: function (res) {
                if (res.status === "success") {
                   $('.toastrDefaultSuccess').click(function() {
                        toastr.success('保存成功');
                        setTimeout(function () {
                            location.href ='{% url 'elastics:cluster-dynamic-config' pk=object.id %}';
                        },3000);
                    });
                }
            }
        })

    })
</script>
{% endblock %}
