pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; width: 500px; height: 100px;}
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }
*{margin:0;padding:0;}
#main{
    width:100%;
    margin-bottom:10px;
    overflow:hidden;
}
#main .main-left{
    width: 49%;
    height: 100px;
    float:left;
}
#main .main-right{
    width:49%;
    height: 100px;
    float:right;
}
#content{
    width:100%;
    overflow:hidden;
}
#content .content-left{
    width: 49%;
    height: 100px;
    float:left;
}
#content .content-right-sup{
    width: 49%;
    height: 100px;
    float:right;
}
#content .content-right-sub{
    width:300px;
    height:240px;
    background:purple;
    margin-top:20px;
    float:right;
}